.discover {
    visibility: hidden;
    width: 85%;
    height: 170px;
    margin: auto auto;
    opacity: 0;
    transition: all .5s ease-in-out;

}

.card:hover .discover{
    visibility: visible;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.subscribe {
    margin-top: 90px;
}

.text-grey {
    color: gray;
    font-style: italic;
}

.subscribe ul li {
    font-size: 16px;
    font-weight: 700;
    color: #2a2a2a;
    text-align: left;
}
.subscribe ul li {
    margin-bottom: 30px;
    display: block;
}
.subscribe ul li span, .subscribe ul li span a {
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
}

.subscribe form button {
    width: 44px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
    padding: 0 !important;
    border-radius: 0 !important;
}

.subscribe form button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
  }

  .hr-home {
    border-style: dotted;
  }

  .card-title {
    padding: 0px !important;
  }