.card-img-top {
    height: 27rem !important;
    object-fit: fill !important;
    object-position: center !important;
}

.card-title {
    padding: 20px 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-85 {
    width: 92%;
}